.header
  %span= @page_title = "Downloads"

#download_results.turbaned
  = render "pagination_results"

#help
  %dl
    %dt Should the latest published or the latest live ratings be imported into pairing applications?
    %dd
      Tournament controllers should make their own choice depending on what best suits their needs.
      - if @exports_article
        See this
        = link_to "article", @exports_article
        for more details.

